# Database
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=NoveoCareDB;encrypt=true;trustServerCertificate=true;
DB_USERNAME=app_user
DB_PASSWORD=change_me

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=data-processor-group
AUDIT_TRAIL_TOPIC=topic-audit-trail
ANOMALY_ALERTS_TOPIC=topic-anomaly-alerts

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
