# Spring Boot
SPRING_APPLICATION_NAME=api-service
SERVER_PORT=8081

# SQL Server
SPRING_DATASOURCE_URL=jdbc:sqlserver://localhost:1433;databaseName=NoveoCareDB;encrypt=true;trustServerCertificate=true
SPRING_DATASOURCE_USERNAME=app_user
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.microsoft.sqlserver.jdbc.SQLServerDriver

# Redis
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379

# Kafka
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SPRING_KAFKA_CONSUMER_GROUP_ID=api-service-anomaly-stream
SPRING_KAFKA_CONSUMER_AUTO_OFFSET_RESET=latest
APP_KAFKA_TOPIC_ANOMALY_ALERTS=topic-anomaly-alerts

# Gemini
GEMINI_API_KEY=
GEMINI_BASE_URL=https://generativelanguage.googleapis.com
GEMINI_MODEL=gemini-2.5-flash

# Liquibase
SPRING_LIQUIBASE_ENABLED=false
SPRING_LIQUIBASE_CHANGE_LOG=classpath:db/changelog/db.changelog-master.yaml

# Auth
APP_AUTH_ALLOWED_DOMAIN=@noveocare.com
APP_AUTH_VERIFICATION_CODE_TTL_SECONDS=300
APP_AUTH_VERIFICATION_RESEND_COOLDOWN_SECONDS=120
APP_AUTH_VERIFICATION_MAX_ATTEMPTS=5
APP_AUTH_VERIFICATION_MAIL_ENABLED=false
APP_AUTH_VERIFICATION_FROM=alemedeni0@gmail.com
APP_AUTH_VERIFICATION_LOGO_URL=
APP_AUTH_PASSWORD_RESET_TOKEN_TTL_SECONDS=600
JWT_SECRET=change-this-to-a-random-secret-with-at-least-64-characters
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# Mail / SMTP. Set APP_AUTH_VERIFICATION_MAIL_ENABLED=true when these are configured.
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=alemedeni0@gmail.com
SPRING_MAIL_PASSWORD=lnrg ovcw qrbh nvyd
SPRING_MAIL_SMTP_AUTH=true
SPRING_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIL_SMTP_STARTTLS_REQUIRED=false

# Logging
LOGSTASH_DESTINATION=localhost:5000


